@model Category

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" asp-action="Edit">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <lable asp-for="Name"></lable>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <lable asp-for="DisplayOrder"></lable>
        <input asp-for="DisplayOrder" class="form-control" />
        <span asp-validation-for="DisplayOrder"></span>
    </div>
    <button type="submit">Update</button>
    <a asp-action="Index">Back</a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}