@model ProfileFormViewModel

@{
    ViewData["Title"] = "Edit Profile";
}

<form id="registerForm" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" maxlength="100" />
        <label asp-for="FirstName"></label>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" maxlength="100" />
        <label asp-for="LastName"></label>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="name@example.com" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="UserName" class="form-control" placeholder="name@example.com" />
        <label asp-for="UserName"></label>
        <span asp-validation-for="UserName" class="text-danger"></span>

    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary d-block mt-4">Save</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}